name: CI
on:
  # We run the CI checks on any pull request updates or pushes to the main branch after PR merge.
  pull_request:
  push:
    branches:
      - main
permissions:
  contents: read
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
          check-latest: true
      - run: |
          go vet ./...
          go test ./... --cover
      - name: Install license check tool
        run: go install github.com/google/addlicense@b289835c0741ba2fb92dd5f61af070e79c69a55e # v1.2.0
      - name: Check licenses
        run: addlicense -l apache -check -v -ignore '**/*.yaml' -c 'The Score Authors' ./formatter ./framework ./loader ./schema ./types ./uriget
